# Google Colab / Jupyter
.ipynb_checkpoints/
__pycache__/
*.pyc

# Entornos virtuales
venv/
env/
.env

# Credenciales (crítico)
*.token
*token*
*.pat
secrets.json
.env*
**/config/secrets*

# Datos y outputs pesados
data/*
!data/.gitkeep
outputs/*
!outputs/.gitkeep

# Modelos entrenados (si aplica)
*.pt
*.pth
*.h5
*.pkl


# Archivos del sistema
.DS_Store
Thumbs.db

# Google Drive metadata
.Trash-*
