# Google Colab / Jupyter
.ipynb_checkpoints/
__pycache__/
*.pyc

# Entornos virtuales
venv/
env/
.env

# Datos y outputs pesados (ajustá según tu caso)
data/*.csv
outputs/*.png
outputs/*.jpg

# Archivos del sistema
.DS_Store
Thumbs.db

# Google Drive metadata
.Trash-*
